params {

    outdir = 'results'

    config_profile_name        = 'Metabonaut example dataset'
    config_profile_description = 'Example data from Metabonaut.'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '14.GB'
    max_time   = '6.h'

    // Input data
    input  = 'data/samplesheet.csv'
    // Only one charge
    // algorithm_ffm_charge_upper_bound_featurefindermetabo_openms=1

    // identification related

    identification = true
    run_ms2query = true
    run_sirius = true

}
